In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 5
x = "John"
print(x)

# it will print the last number of variable

John

In [3]:
x = 5
print(x)
x = "John"

# print 5 or john???? 
# it's john. because after declear 5. i print it.

5

In [5]:
x = 5
print(x)
x = "John"
print(x)

5
John

In [6]:
#type of variable
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [10]:
#Casting

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [12]:
x= str(3)+"string"
print(x)

3string

In [13]:
x= 3+"string"
print(x)

#we can't use int and string at a time or in a variable.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
x= str(3+3)+"string"
print(x)

6string

In [16]:
y=int(3.50)
print(y)

3

In [17]:
y=float(3)
print(y)

3.0

In [18]:
#type

x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [22]:
#x = 5

y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [26]:
type("ak")

str

In [25]:
print(type("ak"))

<class 'str'>

In [27]:
# Case-Sensitive

a = 4
A = "Sally"

print(A)

Sally